# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/


*.DS_Store
*.xcuserstate
/.DS_Store
*.xcuserstate
/Demos/SIDemo/build
/Demos/SIDemo/DerivedData
/Demos/HackNash/build
/Demos/HackNash/DerivedData
/Demos/Graffiti/build
/Demos/Graffiti/DerivedData
/Demos/Graffiti/.DS_Store
/Demos/HackNash/.DS_Store
/Demos/SIDemo/.DS_Store
/SDK/build
/SDK/DerivedData
/SDK/.DS_Store
/SDK/PARWorks iOS.xcodeproj/xcuserdata
/Demos/Graffiti/Graffiti.xcodeproj/xcuserdata
/Demos/HackNash/HackNash.xcodeproj/xcuserdata
/Demos/SIDemo/SIDemo.xcodeproj/xcuserdata
/Documentation/.DS_Store
/SDK/AR Administration App/.DS_Store
/SDK/PARWorks iOS.xcodeproj/project.xcworkspace/xcuserdata/bengotow.xcuserdatad/UserInterfaceState.xcuserstate
/Demos/.DS_Store
/Demos/EasyPAR/.DS_Store
/Demos/Graffiti/Graffiti/Resources/.DS_Store
/Demos/EasyPAR/EasyPAR/.DS_Store

/PARViewer/build/
/PARViewer/DerivedData/
/PARViewer/PARViewer.xcodeproj/project.xcworkspace/
/PARViewer/PARViewer.xcodeproj/xcuserdata/
/Demos/EasyPAR/build/
/Demos/EasyPAR/DerivedData/
/Demos/EasyPAR/EasyPAR.xcodeproj/project.xcworkspace/xcuserdata/bengotow.xcuserdatad/UserInterfaceState.xcuserstate
/Demos/ViewerDemo/ViewerDemo.xcodeproj/xcuserdata/demetri.xcuserdatad/xcdebugger/
UserInterfaceState.xcuserstate
/SDK/PARWorks iOS.xcodeproj/project.xcworkspace/xcuserdata/demetri.xcuserdatad/UserInterfaceState.xcuserstate
/Demos/ViewerDemo/ViewerDemo.xcodeproj/project.xcworkspace/xcuserdata/demetri.xcuserdatad/WorkspaceSettings.xcsettings

/ARCore/ARCore.xcodeproj/xcuserdata/demetri.xcuserdatad/xcschemes/ARCoreResources.xcscheme
/ARCore/build/